.app {
  @apply flex flex-row items-center content-center justify-center text-white;
  height: 100vh;
  background: #25272a;
}
.container {
  @apply flex flex-row border-gray-dark;
  max-width: 1500px;
  max-height: 850px;
  width: calc(100vw - 2px);
  height: calc(100vh - 2px);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}
.toolbar {
  @apply flex flex-1 bg-gray-darker;
  max-width: 5%;
  min-width: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;

  padding-top: 20px;
}
.children {
  @apply flex-1 overflow-auto rounded-tr-md rounded-br-md;
  background: #282a2d;
  max-width: 95%;
}
