.app {
  @apply flex flex-row items-center content-center justify-center;
  height: 100vh;
  background-image: url("img/background.svg");
  background-size: cover;
}
.app__container {
  @apply flex flex-row;
  max-width: 1500px;
  max-height: 850px;
  width: calc(100vw - 2px);
  height: calc(100vh - 2px);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #2f988a;
  border-radius: 3px;
}
.app__container__toolbar {
  @apply flex bg-white flex-1;
  max-width: 5%;
  min-width: 70px;

  display: flex;
  flex-direction: column;

  padding-top: 20px;
}
.app__container__children {
  @apply flex-1 overflow-auto;
  max-width: 95%;
}
