.chat-detail-sent-message-row {
  word-wrap: break-word;
  min-height: 80px;
}
.chat-detail-sent-message-row__content {
  flex: 1;
  max-width: 500px;
}
.chat-detail-sent-message-row__send {
  flex: 1;
}
