.profile-container {
  @apply border-base border-2 my-16 mx-auto;
  width: 90%;
}
.general-information {
  @apply w-full p-4;
}
.address-box {
  @apply bg-base border-2 border-secondary rounded-lg p-8 flex flex-row justify-center items-center mx-auto my-4 relative;
  min-height: 150px;
  max-height: 200px;
  width: 90%;
  word-wrap: break-word;
}
.copy-icon {
  width: 25px;
}
