.chat-detail-header {
  @apply flex flex-row;
  flex: 1;
  max-height: 80px;
  border-bottom: 1px solid #555;
}

.chat-detail-header__avatar {
  @apply flex flex-col justify-center items-center;
  width: 20%;
}

.chat-detail-header__avatar__image {
  max-height: 70%;
  width: auto;
}

.chat-detail-header__content {
  @apply flex flex-col;
  width: 60%;
}

.chat-detail-header__content__name {
  @apply flex justify-start items-center;
  flex: 1;
}

.chat-detail-header__content__last_online {
  @apply flex justify-start items-center;
  flex: 1;
}

.chat-detail-header__info {
  @apply flex flex-col justify-center items-end p-4;
  width: 20%;
}

.btn-actions {
  max-width: 25px;
}
