.chat-detail-header {
  flex: 1;
  max-height: 80px;
  border-bottom: 1px solid #555;
}

.chat-detail-header__avatar {
  width: 20%;
}

.chat-detail-header__avatar__image {
  max-height: 70%;
  width: auto;
}

.chat-detail-header__content {
  width: 60%;
}

.chat-detail-header__content__name {
  flex: 1;
}

.chat-detail-header__content__last_online {
  flex: 1;
}

.chat-detail-header__info {
  width: 20%;
}
