.container {
  @apply flex flex-row;
  flex: 1;
  max-height: 80px;
  border-bottom: 1px solid #555;
}

.avatar {
  @apply flex flex-col justify-center items-center;
  flex: 2;
}

.avatarImage {
  max-height: 70%;
  width: auto;
}

.content {
  @apply flex flex-col;
  flex: 5;
}

.name {
  @apply flex justify-start items-center;
  flex: 1;
}

.lastOnline {
  @apply flex justify-start items-center;
  flex: 1;
}

.headerInfo {
  @apply flex flex-col justify-center items-end p-2 m-2 cursor-pointer rounded-md hover:bg-secondary;
  max-width: 50px;
  flex: 1;
}

.chat_info_icon {
  width: 85% !important;
}
