.chat-detail-received-message-row {
  min-height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.chat-detail-received-message-row__content {
  flex: 1;
  max-width: 70%;
  padding: 20px;
  border: 1px solid #2f988a;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #2f988a;
  color: white;
}
.chat-detail-received-message-row__date {
  flex: 1;
  font-size: 12px;
  padding: 10px;
}
