.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background-color: rgba(0, 0, 0, 0.2);
}
.modal-container {
  width: 50%;
  min-height: 100px;
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
