.send-box {
  flex: 1;
  max-height: 80px;
}

.send-box__content {
  flex: 5;
}

.send-box__content__input {
  align-self: stretch;
  height: 100%;
  resize: none;
}

.send-box__send {
  flex: 1;
  min-width: 100px;
}

.send-box__send__button {
  width: 60px;
}

.send-box__send__button__icon {
  width: 25px;
}
