.container {
  @apply flex flex-row bg-gray-light;
  flex: 1;
  max-height: 80px;
  box-shadow: inset 0px 0px 5px rgb(77 77 77 / 49%);
}

.content {
  @apply flex flex-col py-4 px-2;
  flex: 5;
}

.input {
  @apply rounded-md border-2 bg-gray-lighter border-gray-lighter self-stretch h-full resize-none;
}

.send {
  @apply flex flex-row py-4 justify-around;
  flex: 1;
  min-width: 100px;
}
.sendButton {
  @apply flex justify-center items-center p-4 hover:bg-secondary rounded-md;
  flex: 1;
  max-width: 60px;
}
