.chat-detail-send-box {
  flex: 1;
  max-height: 80px;
  border-top: 1px solid #555;

  display: flex;
  flex-direction: row;
}

.chat-detail-send-box__content {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.chat-detail-send-box__content__input {
  align-self: stretch;
  height: 100%;
  border: 1px solid #aaa;
  border-radius: 15px;
  resize: none;
}

.chat-detail-send-box__send {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-detail-send-box__send__button {
  height: 100%;
  width: 100%;
  border-width: 0px;
  background-color: transparent;
  cursor: pointer;
}
.chat-detail-send-box__send__button:hover > img {
  background: #eee;
}

.chat-detail-send-box__send__button__icon {
  height: 60%;
  width: 60%;
  padding: 5px;
  border-radius: 10px;
}
