.content {
  @apply p-4 border-2 border-base rounded-xl rounded-tr-none flex flex-row;
  flex: 1;
  max-width: 500px;
}

.download {
  @apply pr-4;
  width: 40px;
  cursor: pointer;
}

.name {
  flex: 1;
}
