.add-contact {
  border-bottom: 1px solid #999;
  max-height: 70px;
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-contact__btn {
  width: 60%;
  height: 60%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #999;
  cursor: pointer;
  user-select: none;
}
.add-contact__btn:hover {
  background-color: #999;
  color: white;
}

.add-contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.submit-row {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  justify-content: center;
}
.submit-btn {
  border: 1px solid #999;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  min-width: 90px;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #999;
  color: white;
}
