.text_field {
  @apply w-full px-4;
}
.text_field__label {
  min-height: 30px;
  justify-content: center;
}
.text_field__error {
  min-height: 30px;
}
.text_field__input {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
